<article id="post-hack-in-localstorage" class="article article-type-post">
    <div class="article-meta">
        <a href="<%= page.link || (config.root + page.path) %>" class="article-date">
        <time datetime="<%= page.date %>" itemprop="datePublished"><%= page.date.format(config.date_format) %></time>
        </a>
    </div>
    <div class="article-inner">
        <input type="hidden" class="isFancy">
        <header class="article-header">
            <h1 class="article-title" itemprop="name">
                <%- page.title %>
            </h1>
        </header>
        <div class="article-info article-info-post">
            <div class="article-tag tagcloud">
                <ul class="article-tag-list">
                    <% page.tags.each(function(tag) { %>
                        <li class="article-tag-list-item">
                            <%- link_to(config.root + tag.path, tag.name, {external: true, class: 'article-tag-list-link'}) %>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="article-entry" itemprop="articleBody">
            <%- page.content %>
        </div>
    </div>
</article>
